/*css comun*/
.codigo {
    width: 100%;
    height: auto;
    max-height: 900px;
    padding: 1em;
    line-height: 1.8em;
    overflow: auto;
    position: relative;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #000;
}

#buscador{
    height: 28px;
}
#buscar{
     height: 28px;   
}

#captcha {
    text-align: center;
}

.top-bar{
    height: 46px;
}

.img_html5{
    margin-top: -5px;
    height: 32px;
    width: 64px;
    float: left;
    margin-left: 0px;     
}

.img_php{
    margin-top: -6px;   
    height: 33px;
    width: 79px;
    float: left;
    margin-left: 5px;     
}
.img_netbeans{
    margin-top: -8px;
    height: 40px;
    width: 64px;
    float: left;
    margin-left: -5px;     
}
.img_hiawatha{
    margin-top: -5px;
    height: 32px;
    width: 73px;
    float: left;
    margin-left: 2px;  
    border:0
}
.img_postgresql{
    margin-top: -5px;
    height: 33px;
    width: 50px;
    float: left;
    margin-left: 6px;  
    border:0    
}
.img_sqlite{
    margin-top: -5px;
    height: 32px;
    width: 40px;
    float: left;
    margin-left: 6px;  
    border:0    
}

.anonimo80x80{
  background: url(/img/anonimo_80x80.png) no-repeat;
  width: 80px; 
  height: 80px; 
  border-radius: 7px;
  box-shadow: 2px 2px 5px #000;
  margin-left: 20px;
}

.img_icon_usuario{
  max-width: 80px; 
  max-height: 80px; 
  border-radius: 7px;
  box-shadow: 2px 2px 5px #000;
  margin-left: 20px;
}


/* Styles for signup 
.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
*/
.signup-panel i {
  font-size: 30px;
  line-height: 40px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 40px;
  font-size: 13px;
  font-weight: 200;  
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}

dialog, .reveal-modal {
    border-radius: 10px;
}